@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700;800&display=swap");

.form-wrapper {
  padding: 0 100px;
  width: 80%;
}

.form-wrapper form,
.start-end,
.start,
.end {
  display: flex;
  flex-direction: column;
}

.form-wrapper form {
  width: 65%;
  margin: 0 auto;
}

.start-end {
  width: 100%;
  flex-direction: row;
}

.start,
.end {
  width: 100%;
  margin: 0 0 0 5px;
}

input#title,
input#start,
input#end,
textarea#info {
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 10px;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 4px 4px #00000037;
  font-size: 1.2rem;
}

.techno {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}

.techno .techno-wrapper {
  display: flex;
  gap: 100px;
}
.techno .techno-wrapper .row {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.techno .row label {
  margin: 0 10px;
}

.box {
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
}

.check {
  display: flex;
}

input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label:before {
  background-color: white;
  content: "";
  display: inline-block;
  font-size: 20px;
  height: 20px;
  border-radius: 4px;
  width: 20px;
  line-height: 20px;
  vertical-align: middle;
  text-align: center;
  margin: 0 20px 0 0;
}

input[type="checkbox"]:checked + label:before {
  content: "\2713";
  color: #00f;
}

.upload-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: 25px;
}

.upload-wrapper .file-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  background: #fff;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  padding: 0 10px 0 0;
  box-shadow: 0 4px 4px #00000022;
}

.upload-wrapper .file-wrapper .label {
  background: #00000021;
  height: 100%;
  padding: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.container-upload {
  display: grid;
  justify-content: center;
}

.upload-wrapper .file-wrapper .icon-upload .container-upload img {
  height: 20px;
}

.buttonProject {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.buttonProject input {
  padding: 10px 16px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 4px 4px #00000041;
  background: #000;
  color: #fff;
  font-weight: 500;
}

.buttonProject button:hover {
  background: #ff0000;
}

label {
  font-weight: bold;
}

.row label {
  color: #6e6e6e;
}

.container-project {
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.wrapperProject {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.wrapper {
  width: 400px;
  height: 550px;
  /* background: #000; */
  margin: 20px;
}

.content-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.content-card .card-img img {
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

.content-card .card-img img {
  object-fit: cover;
}

.card {
  padding: 10px;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 4px 4px #00000044;
}

.tech-icons-card {
  display: flex;
  gap: 10px;
}

.tech-icons-card i {
  font-size: 1.85rem;
  font-weight: 500;
}

.btn-card-group {
  width: 100%;
  display: flex;
  gap: 10px;
}

.btn-card-group button {
  width: 100%;
  padding: 5px 0;
  border-radius: 8px;
  color: #fff;
  background-color: #000;
  font-weight: 700;
  font-size: 1.01rem;
}
