@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700;800&display=swap");

:root {
  --main-bg: #e0e3e8;
  --main-cl: #ffffff;
  --txt-cl: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  background: var(--main-bg);
  width: 100%;
  display: flex;
  gap: 50px;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
/* NABVAR START */
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 100px;
  background: #ffffffc1;
}

nav header {
  display: flex;
  align-items: center;
  gap: 50px;
}

nav header .logo h3 {
  font-size: 2.4rem;
  margin-bottom: -20px;
  color: #ff0000;
}

nav header .logo span {
  font-size: 9px;
  font-weight: 700;
  color: #ff0000;
}

nav header .nav-list ul {
  display: flex;
  gap: 30px;
}

nav header .nav-list ul li a {
  font-size: 1.1rem;
  font-weight: 500;
  color: #000;
}

nav header .nav-list ul li a:hover {
  color: #ff0000;
}

.button a {
  background: #000;
  padding: 6px 14px;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 8px;
}

.button a:hover {
  background: #ff0000;
}

/* NABVAR END */

/* MAIN START */

.container {
  margin: 0 auto;
  display: flex;
  margin-top: 50px;
  padding: 0px 50px;
  gap: 20px;
  width: 70%;
  align-items: center;
  background: #fff;
}

.card {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.24);
  border-radius: 8px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

/* Left Start */
.left {
  padding: 70px 50px 70px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.left article {
  text-align: justify;
}

.left article h3 {
  margin: -10px 0 10px;
  font-size: 1.6rem;
}

.left article p {
  margin: 10px 0;
}

.left .button {
  display: flex;
  align-items: center;
  gap: 5px;
}

.left .button a.contact {
  font-weight: normal;
  border-radius: 50px;
  padding: 4px 24px;
}

.left .button a.cv {
  background: none;
  color: #000;
  font-weight: normal;
}

.left .socmed {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 30px 0;
}

.logos {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  background: #000;
  padding: 2px 0 0 0;
  color: #fff;
  padding: 9px 0 0 9px;
}

.logos:hover {
  background: #ff0000;
}

.facebook i {
  font-size: 40px;
  color: #000;
}

.facebook i:hover {
  color: #ff0000;
}

.logos i {
  font-size: 1.5rem;
}

/* Left End */

/* Right Star */
section.right .card .card-img {
  height: 330px;
  width: 300px;
  background: url("/assets/img/bg-cam.jpg");
  background-size: cover;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

section.right .card .card-img img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

section.right .card .card-txt {
  padding: 10px;
  text-align: center;
}

/* Right End */
/* MAIN END */

/* project style */
